In [1]:
import mysql.connector as sql

In [2]:
connection=sql.connect(
    host="localhost",
    user="root",
    password="sdk1437@sql")
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000000006466D30>

In [3]:
cursor =connection.cursor()
#cursor.execute("create database mydatabase")

In [4]:
cursor.execute('show databases')

In [5]:

for x in cursor:
    print(x)

('bank',)
('empoly',)
('hospital',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sportdb',)
('student',)
('studentdb',)
('sys',)
('world',)

In [6]:
connection=sql.connect(host="localhost",user="root",password="sdk1437@sql",database="student")
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000000000647BAC0>

In [7]:
cursor = connection.cursor()
cursor.execute("create table studentinfo(ID int auto_increment primary key, name varchar(255),subject varchar(255))")

ProgrammingError: 1050 (42S01): Table 'studentinfo' already exists

In [ ]:
query = "insert into studentinfo (name,subject) values (%s,%s)"
values = ("John","Stats")
cursor.execute(query,values)
print("Row inserted",cursor.lastrowid)

In [ ]:
query = "insert into studentinfo (name,subject) values (%s,%s)"
values = [("John",'Stats'),
         ("Joe","Maths"),
         ("Ankur","Data Science"),
         ("Paul","Data Science"),
         ("Vishal","Mathas"),
         ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

In [ ]:
cursor = connection.cursor()
cursor.execute("select * from studentinfo")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.fetchone()