In [1]:
import mysql.connector as sql

In [2]:
connection = sql.connect(host='localhost',user='root',password='sdk1437@sql',database='bank')
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000000006263A30>

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute('desc bankinfo')
cursor.fetchall()

[('ID', b'int', 'YES', '', None, ''),
 ('Name', b'varchar(255)', 'YES', '', None, ''),
 ('Account', b'int', 'NO', 'PRI', None, ''),
 ('Balance', b'int', 'YES', '', None, ''),
 ('Bank', b'char(3)', 'YES', '', None, '')]

In [5]:
query='insert into bankinfo(ID,Name,Account,Balance,Bank) values(%s,%s,%s,%s,%s)'

In [6]:
values = (2,'Sohan',987456321,150000,'CBI')
cursor.execute(query,values)
print('Row inserted',cursor.lastrowid)

Row inserted 0

In [7]:
cursor.execute('select * from bankinfo')
cursor.fetchall()

[(2, 'Sohan', 987456321, 150000, 'CBI')]

In [8]:
values = (3,'Rohanohan',987456123,250000,'SBI')
cursor.execute(query,values)
print('Row inserted',cursor.lastrowid)

Row inserted 0

In [9]:
cursor.execute('select * from bankinfo')
cursor.fetchall()

[(3, 'Rohanohan', 987456123, 250000, 'SBI'),
 (2, 'Sohan', 987456321, 150000, 'CBI')]

In [10]:
values = (1,'Mohan',123987456,257000,'BOI')
cursor.execute(query,values)
print('Row inserted',cursor.lastrowid)

Row inserted 0

In [11]:
cursor.execute('select * from bankinfo')
cursor.fetchall()

[(1, 'Mohan', 123987456, 257000, 'BOI'),
 (3, 'Rohanohan', 987456123, 250000, 'SBI'),
 (2, 'Sohan', 987456321, 150000, 'CBI')]

In [12]:
values = [(4,'Ram',123789456,237000,'IDB'),(5,'Naresh',321789456,337000,'BOI')]
cursor.executemany(query,values)
print('Row inserted',cursor.lastrowid)

Row inserted 0

In [13]:
cursor.execute('select * from bankinfo')
cursor.fetchall()

[(4, 'Ram', 123789456, 237000, 'IDB'),
 (1, 'Mohan', 123987456, 257000, 'BOI'),
 (5, 'Naresh', 321789456, 337000, 'BOI'),
 (3, 'Rohanohan', 987456123, 250000, 'SBI'),
 (2, 'Sohan', 987456321, 150000, 'CBI')]

In [14]:
values = [(6,'Gopal',123789654,337000,'SBI'),(5,'Sanjay',321987654,437000,'CBI')]
cursor.executemany(query,values)
print('Row inserted',cursor.lastrowid)

Row inserted 0

In [15]:
cursor.execute('select * from bankinfo')
cursor.fetchall()

[(4, 'Ram', 123789456, 237000, 'IDB'),
 (6, 'Gopal', 123789654, 337000, 'SBI'),
 (1, 'Mohan', 123987456, 257000, 'BOI'),
 (5, 'Naresh', 321789456, 337000, 'BOI'),
 (5, 'Sanjay', 321987654, 437000, 'CBI'),
 (3, 'Rohanohan', 987456123, 250000, 'SBI'),
 (2, 'Sohan', 987456321, 150000, 'CBI')]

In [16]:
cursor.execute('select * from bankinfo where Name = "Mohan"')
cursor.fetchall()

[(1, 'Mohan', 123987456, 257000, 'BOI')]

In [17]:
cursor.execute('select Name from  bankinfo')
cursor.fetchall()

[('Ram',),
 ('Gopal',),
 ('Mohan',),
 ('Naresh',),
 ('Sanjay',),
 ('Rohanohan',),
 ('Sohan',)]

In [19]:
cursor.execute('select Balance, Bank from bankinfo where Name="Mohan"')
cursor.fetchall()

[(257000, 'BOI')]