In [1]:
import mysql.connector

In [2]:
con=mysql.connector.connect(
    host='localhost',
    port=3306,
    user='root',
    password='sdk1437@sql',
    database='empdb')

In [3]:
df=pd.read_sql_query('select * from department',con)

In [4]:
df.head()

   department_id department_name
0           1001           sales
1           1002       marketing
2           1003         account
3           1004              hr

In [5]:
df1=pd.read_sql_query('select * from employee',con)

In [6]:
df1.head()

   emp_id emp_name      emp_mailid  department_id
0       1    henry   henry@abc.com           1001
1       2    jimmy   jimmy@abc.com           1002
2       3     jack    jack@abc.com           1003
3       4   grorge  grorge@abc.com           1003
4       5    smith   smith@abc.com           1004

In [7]:
print(pd.read_sql_query('show databases',con))

              Database
0                 bank
1                  car
2                empdb
3               empoly
4             hospital
5   information_schema
6           mydatabase
7                mysql
8   performance_schema
9               sakila
10             sportdb
11             student
12           studentdb
13                 sys
14               world

In [8]:
print(pd.read_sql_query('show tables',con))

  Tables_in_empdb
0      department
1        employee

In [9]:
print(pd.read_sql_query('desc employee',con))

           Field             Type Null  Key Default Extra
0         emp_id           b'int'   NO  PRI    None
1       emp_name  b'varchar(255)'   NO         None
2     emp_mailid  b'varchar(255)'  YES  UNI    None
3  department_id           b'int'  YES  MUL    None

In [10]:
print(pd.read_sql_query('show databases',con))

              Database
0                 bank
1                  car
2                empdb
3               empoly
4             hospital
5   information_schema
6           mydatabase
7                mysql
8   performance_schema
9               sakila
10             sportdb
11             student
12           studentdb
13                 sys
14               world

In [11]:
connect=mysql.connector.connect(
    host='localhost',
    port=3306,
    user='root',
    password='sdk1437@sql',
    database='car')

In [12]:
print(pd.read_sql_query('show tables',connect))

  Tables_in_car
0       carinfo

In [13]:
print(pd.read_sql_query('desc carinfo',connect))

          Field             Type Null Key Default Extra
0       CarName  b'varchar(255)'  YES        None
1          year           b'int'  YES        None
2  sellingprice        b'double'  YES        None
3  PresentPrice        b'double'  YES        None
4     KmsDriven           b'int'  YES        None
5    SellerType  b'varchar(255)'  YES        None
6  Transmission  b'varchar(255)'  YES        None

In [14]:
df=pd.read_sql_query('select * from carinfo',connect)

In [15]:
df.head()

  CarName  year  sellingprice  PresentPrice  KmsDriven SellerType Transmission
0    ritz  2014          3.35          5.59      27000     Dealer       Manual
1      sx  2013          4.75          9.54      43000     Dealer       Manual
2    ciaz  2017          7.25          9.85       6900     Dealer       Manual
3   wagon  2011          2.85          4.15       5200     Dealer       Manual
4   swift  2014          4.60          6.87      42450     Dealer       Manual